---
layout: default
title: Arrivalist – Studying The Way Media Moves US
---
{% include news_heading.html %}
<section id="news-index">
	<div class="container">
		{% for post in site.categories["news"] %}
		<div class="row">
			<div class="col-md-3">
				<div class="pull-right post-date">
					{{ post.date | date: "%b %d, %Y"  }}
				</div>
			</div>
			<div class="col-md-6">
				<h3 class="post-title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
				<p>
					{{ post.body }}
				</p>	
			</div>
			<div class="col-md-3 ">
				<a  href="{{ post.source }}" target="_blank">
					<img class="post-image" src="{{ post.source_image}}"></img>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</section>		

