</div>
	</div>
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="copyright">
							<p>© Copyright 2011 - {{ site.time | date: '%Y' }} Arrivalist CO. All Rights Reserved | <a href="http://www.arrivalist.com/privacy_policy.html">Privacy Policy</a></p>
						</div>
					</div>
					<div class="col-md-3 pull-right">
						<ul class="nav nav-pills">
		  					<li><a href=""><i class="fa fa-facebook-square"></i></a></li>
		  					<li><a href=""><i class="fa fa-twitter-square"></i></a></li>
		  					<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
		  					<li><a href=""><i class="fa fa-pied-piper"></i></a></li>
						</ul>
					</div>
				</div>
			</div>	
		</section>	


</body>
</html>