</div>
	</div>
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-xs-12 col-sm-7">
						<div class="copyright">
							<p>© Copyright 2011 - {{ site.time | date: '%Y' }} Arrivalist CO. All Rights Reserved</p> 
							<a href="/privacy/2014/06/10/privacy-policy.html">Privacy Policy</a>
						</div>
					</div>

					<div class="col-md-3 col-xs-12 pull-right">
						<ul class="nav nav-pills">
		  					<li><a href="https://facebook.com/arrivalist"><i class="fa fa-facebook-square"></i></a></li>
		  					<li><a href="https://twitter.com/Arrivalist"><i class="fa fa-twitter-square"></i></a></li>
		  					<li><a href="https://www.linkedin.com/company/one-bird"><i class="fa fa-linkedin-square"></i></a></li>
		  					<li><a href="http://37.media.tumblr.com/d92a4bffcd2e84848023e89348d9e575/tumblr_n54794beB31trb5guo1_400.gif"><i class="fa fa-pied-piper"></i></a></li>
						</ul>
					</div>
				</div>
			</div>	
		</section>	

</body>
</html>