---
layout: default
---
{% include news_heading.html %}
<section id="news-index">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-2">
				<a href="/news.html">← Back to List</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="pull-right post-date">
					<div class="month">{{ page.date | date: "%B"}}</div>
					<div class="day">{{ page.date | date: "%d"  }}</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3 class="post-title">
					<a href="{{ page.url }}">{{ page.title }}</a>
				</h3>
				<p>
					{{ content }}
				</p>	
			</div>
			<div class="col-md-3 ">
				<div class="post-image">
					<a href="{{ page.source }}" target="_blank">
						<img src="{{ page.source_image}}"></img>
					</a>
				</div>
	
			</div>
		</div>
	</div>
</section>
